.searchContainer{
    display: flex;
    margin: 20px auto;
    width: 500px;
    position: relative;
}

.searchContainer h2{
    margin: 0px;
    padding: 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.searchInput{
    border: none;
    border-bottom: 1px solid #e3e4dc;
    padding: 10px 10px;
    width: 50%;
    outline: none;
    font-size: 16px;
    color: #393e46;
}